#myTable tr td:first-child {
    width: 10px !important;
}

.mycheckbox {
    width: 20px !important;
}

.re {
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    width: fit-content !important;
    /* background: linear-gradient(to right, #07d800, #76ff06); */
    border: 0;
    outline: none;
    border-radius: 30px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.0rem;
}

.re1 {
    background: linear-gradient(to right, #6eac0a, #76ff06);
}

.re2 {
    background: linear-gradient(to right, #ac580a, #ff0606);
}

.re3 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(116,215,85,1) 0%, rgba(43,90,122,1) 0%, rgba(65,55,210,1) 100%, rgba(0,1,240,1) 100%, rgba(0,212,255,1) 100%);
}

.myresult {
    display: inline-block;
}