* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* body {
  height: 100vh;
  width: 100vw;
} */
::-webkit-scrollbar{
  width: 0;
}
#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  border-radius: 0 0 0 10px;
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
  /* z-index: 300; */
}
:root{
  --main-color: linear-gradient(to right, rgba(106, 17, 203, 0.5), rgba(37, 117, 252, 0.5));
  --main-color1: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
}
.sidebar{
  width: 345px;
  position: absolute;
  left:0;
  top: 0;
  /* height: 140vh !important; */
  white-space:nowrap;
  background: var(--main-color1);
  z-index: 100;
  transition: width 300ms;
}
.sidebar-brand{
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}
.sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}
.sidebar-menu{
  margin-top: 1rem;
}
.sidebar-menu li{
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}
.sidebar-menu a.active{
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color1);
  border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a{
  text-decoration: none;
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}
.sidebar-menu a:hover {
  text-decoration: none;
}
.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}
#nav-toggle:checked + .sidebar{
  width: 70px;
}
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li{
  padding-left: 1rem;
  text-align: center;
}
#nav-toggle:checked + .sidebar li a{
  padding-left: 0rem;
}
#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
  display: none;
}
#nav-toggle:checked ~ .main-content{
  margin-left: 70px;
}
#nav-toggle:checked ~ .main-content header{
  width: calc(100% - 70px);
  left: 70px;
}
.main-content{
  transition: margin-left 300ms;
  margin-left: 345px;
}
header{
  background: #fff;
  display: flex !important;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
  transition: left 300ms;
}
#nav-toggle{
  display: none;
}
header h2{
  color: #222;
}
header label span{
  font-size: 1.7rem;
  padding-right: 1rem;
}
.search-wrapper1{
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.search-wrapper1 span{
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}
.search-wrapper1 input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}
.search-wrapper{
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.search-wrapper span{
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}
.search-wrapper input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}
.user-wrapper{
  display: flex;
  align-items: center;
}
.user-wrapper img{
  border-radius: 50%;
  margin-right: 1rem;
}
.user-wrapper small{
  display: inline-block;
  color: var(--text-grey);
}
main{
  margin-top: 91px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}
.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}
.card-single{
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}
.card-single div:first-child span {
  color: var(--text-grey);
}
.card-single div:last-child span {
  font-size: 3rem;
  color: var(--main-color);
}
.card-header h3{
 padding-top: 6px;
}
/* #compprof{
  display: block;
  font-size: 0.9rem;
} */
.card-single:last-child {
  background: var(--main-color);
}
.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
  color: #fff;
}
.recent-grid{
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 65% auto;
}
.recent-grid1{
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
}
.card{
  background: #fff;
  border-radius: 5px;
}
.card-header,
.card-body{
  padding: 1rem;
}
.card-header{
  display: flex;
  justify-content: space-between;
  background-color: #fff !important;
  align-items: center;
  border-bottom: 1px solid #f0f0f0 !important;
}
.card-header button{
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border: 1px solid var(--main-color);
}
#mytable {
  border-collapse: collapse;
}
#tr1{
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}
#thead td{
  font-weight: 700;
}
td{
  padding: .5rem 1rem;
  font-size: .9rem;
  color: #222;
}
/* td .statuss{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 1rem;
} */
td .statusss{
  margin-bottom: 10px;
  padding-right: 10px;
}
tr td:last-child{
  display: flex;
  align-items: center;
}
.statusss.purple{
  color: rebeccapurple;
}
.statusss.pink{
  color: deeppink;
}
.statusss.orange{
  color: orangered;
}
.statusss.red{
  color: red;
}
.statusss.green{
  color: green;
}
/* .table-responsive{
  width: 100%;
  overflow-x: auto;
} */
.customer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .7rem;
}
.info{
  display: flex;
  align-items: center;
}
.info img{
  border-radius: 50%;
  margin-right: 1rem;
}
.info h4{
  font-size: .8rem;
  font-weight: 700;
  color: #222;
}
.info small{
  font-weight: 600;
  color: var(--text-grey);
}
.contact span{
  font-size: 1.2rem;
  display: inline-block;
  margin-left: .5rem;
  color: var(--main-color);
}

@media only screen and (max-width: 1200px){
  .sidebar{
    width: 70px;
  }
  .sidebar .sidebar-brand,
  .sidebar li{
    padding-left: 1rem;
    text-align: center;
  }
  .sidebar li a{
    padding-left: 0rem;
  }
  .sidebar .sidebar-brand h2 span:last-child,
  .sidebar li a span:last-child{
    display: none;
  }
  .main-content{
    margin-left: 70px;
  }
  .main-content header{
    width: calc(100% - 70px);
    left: 70px;
  }
}

@media only screen and (max-width: 960px) {
  .cards{
    grid-template-columns: repeat(3, 1fr);
  }
  .recent-grid{
    grid-template-columns: 60% 40%;
  }
  .recent-grid1{
    grid-template-columns: 100%;
  }
  #nav-toggle:checked + .sidebar{
    left: 0 !important;
    z-index: 100;
    width: 345px;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li{
    padding-left: 2rem;
    text-align: left;
  }
  #nav-toggle:checked + .sidebar li a{
    padding-left: 1rem;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: inline;
  }
  #nav-toggle:checked ~ .main-content header{
    margin-left: 0rem !important;
    width: 100% !important;
    left: 0px !important;
  }
}
@media only screen and (max-width: 768px) {
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .recent-grid{
    grid-template-columns: 100%;
  }
  .recent-grid1{
    grid-template-columns: 100%;
  }
  .search-wrapper{
    display: none;
  }
  .sidebar{
    left: -100% !important;
  }
  header h2{
    display: flex;
    align-items: center;
  }
  header h2 label{
    display: flex;
    background: var(--main-color);
    padding-right: 0rem;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    align-items: center;
    justify-content: center !important;
  }
  header h2 span{
    text-align: center;
    padding-right: 0rem;
  }
  header h2 {
    font-size: 1.1rem;
  }
  .main-content{
    width: 100%;
    margin-left: 0rem;
  }
  header{
    width: 100% !important;
    left: 0 !important;
  }
  #nav-toggle:checked + .sidebar{
    left: 0 !important;
    z-index: 100;
    width: 345px;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li{
    padding-left: 2rem;
    text-align: left;
  }
  #nav-toggle:checked + .sidebar li a{
    padding-left: 1rem;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: inline;
  }
  #nav-toggle:checked ~ .main-content{
    margin-left: 0rem !important;
  }
}
@media only screen and (max-width: 560px) {
  .cards{
    grid-template-columns: 100%;
  }
}


input {
  width: 150px !important;
}



.action{
  position: fixed;
  top: 10px;
  right: 30px;
}
.action .profile{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.action .profile img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action .profile:hover img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-color: #C37500; */
  opacity:0.7 !important;
  filter:alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #000000 !important;
  outline: none;
  border: none;
}
.action .menu{
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 5px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.action .menu.active{
  top: 80px;
  visibility: visible;
  opacity: 1;
}
.action .menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}
.action .menu h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: #555;
  line-height: 1.2em;
}
.action .menu h3 span{
  font-size: 14px;
  color: #cecece;
  font-weight: 400;
}
.action .menu ul li{
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
}
.action .menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}
.action .menu ul li:hover img{
  opacity: 1;
}
.action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}
.action .menu ul li:hover a{
  color: #ff5d94;
}

.link_to_button_pink {
  text-decoration: none;
  border: 7px solid #ca20da;
  background-color: #ca20da;
  color: white;
  border-radius: 20px;
}

.link_to_button_red {
  text-decoration: none;
  border: 7px solid #fd436c;
  background-color: #fd436c;
  color: white;
  border-radius: 20px;
}

.link_to_button_blue {
  text-decoration: none;
  border: 7px solid #5a8bd4;
  background-color: #5a8bd4;
  color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
