body{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(125deg,#6a89cc,#b8e994);
  }
  
  .container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434
  }
  
  .container h1{
    font-size: 60px;
    margin: 0;
    font-weight: 500;
    letter-spacing: 10px;
    -webkit-background-clip: text;
  }
  
  .container a{
    text-decoration: none;
    background: #ca2c14aa;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
  }
  
  .container a:hover{
    background: #e55039;
  }
  