{% extends 'dashboard/base.html' %} {% load static %}

<!--Write the title of the page-->
{% block title %}
<title>Dashboard {{request.user.email}}</title>
<link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon"> {% endblock %}



{% block sidebar_menu %}
<div class="sidebar-menu">
    <ul>
        <li>
            <a href="{% url 'dashboard' %}" class=""><span class="las la-igloo"></span>
            <span>Dashboard</span>
          </a>
        </li>
        <hr>
        <li>
            <a href="{% url 'profile' %}" class=""><span class="las la-id-card"></span>
            <span>Profile</span>
          </a>
        </li>

        {% if request.user.is_staff %}
          {% if permissions.can_manage_sessions %}
          <li>
              <a href="{% url 'manage_sessions' %}" class=""><span class="las la-history"></span>
              <span>Manage Sessions </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.create_new_accounts %}
          <li>
              <a href="{% url 'create_accounts' %}" class=""><span class="las la-user-plus"></span>
              <span>Create Accounts </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_manage_internships %}
          <li>
              <a href="{% url 'manage_company_internships' %}" class=""><span class="las la-users"></span>
              <span>Manage Internships </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_access_student_inactive_accounts %}
          <li>
              <a href="{% url 'student_account_signup_permit' %}"><span class="las la-graduation-cap"></span>
              <span>Student Accounts</span>
            </a>
          </li>
          {% endif %} {% if permissions.can_access_company_inactive_accounts %}
          <li>
              <a href="{% url 'company_account_signup_permit' %}" class="active"><span class="las la-user-graduate"></span>
              <span>Company Accounts</span>
            </a>
          </li>
          {% endif %} {% if permissions.can_ban_users %}
          <li>
              <a href="{% url 'restrict_users' %}"><span class="las la-user-slash"></span>
              <span>Restrict Users </span>
            </a>
          </li>
          {% endif %}
          {% if permissions.can_unban_users and request.user.is_superuser %}
          <li>
              <a href="{% url 'unban_user' item='0' %}" class=""><span class="las la-user"></span>
              <span>Un-restrict Users </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_manage_blogs %}
          <li>
              <a href="{% url 'manage_blogs' %}" class=""><span class="las la-blog"></span>
              <span>Manage Blogs </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_manage_staff_accounts and request.user.is_superuser %}
          <li>
              <a href="{% url 'manage_staff_accounts' %}" class=""><span class="las la-user-circle"></span>
              <span>Manage Staff Accounts </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_give_notifications %}
          <li>
              <a href="{% url 'give_notifications' %}" class=""><span class="las la-bell"></span>
              <span>Float Notification </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_manage_technical_support %}
          <li>
              <a href="{% url 'technical_support_assist' %}" class=""><span class="lar la-comment-alt"></span>
              <span>Manage Support </span>
            </a>
          </li>
          {% endif %} 
        {% endif %}
        
        {% if request.user.is_superuser or request.user.is_staff %} {% else %} {% ifequal request.user.last_name 'This_is_a_company_Associated_account' %}
          <li>
              <a href="{% url 'announcements' %}"><span class="las la-bullhorn"></span>
              <span>My Announcements</span>
            </a>
          </li>
          <li>
              <a href="{% url 'new_announcement_round' %}"><span class="las la-plus-circle"></span>
              <span>Announce New Round</span>
            </a>
          </li>
          <li>
              <a href="{% url 'new_announcement' %}"><span class="las la-plus"></span>
              <span>New Announcement</span>
            </a>
          </li>
          <li>
              <a href="{% url 'announce_internship' %}"><span class="las la-plus-square"></span>
              <span>Announce Internship</span>
            </a>
          </li>
          <li>
              <a href="{% url 'internships' %}"><span class="las la-user-md"></span>
              <span>My Internships</span>
            </a>
          </li>
        <!--Student only-->
        {% else %}
          <li>
              <a href="{% url 'show_companies' %}"><span class="las la-registered"></span>
              <span>Register</span>
            </a>
          </li>
          <li>
              <a href="{% url 'show_registrations' %}"><span class="las la-graduation-cap"></span>
              <span>My Registrations</span>
            </a>
          </li>
        {% endifequal %} {% endif %}


    </ul>
</div>
{% endblock %}

<!--For the text at the top of panel 2-->
{% block dashboard_title %} Company Accounts {% endblock %}

<!--For the user details displayed at the top right-->


<!--For the main section : 3-->
{% block section_main %}
<main>
    <div class="alert alert-danger" role="alert" style="font-size: 1.5rem">
      Company Accounts pending for verification
    </div>
    {% if request.user.is_authenticated and request.user.is_staff %} {% ifequal code 0 %}
    <h6 style="text-align: center; color: red;" id="message">ERROR: Profile Not Found</h6>
    {% endifequal %} {% ifequal code 1 %}
    <h6 style="text-align: center; color: green;" id="message">Profile Status has been done to Verified</h6>
    {% endifequal %} {% ifequal code 2 %}
    <h6 style="text-align: center; color: green;" id="message">User Account has been successfully deleted</h6>
    {% endifequal %} {% ifequal code 3 %}
    <h6 style="text-align: center; color: red;" id="message">ERROR: Profile Status is already verified</h6>
    {% endifequal %} {% ifequal code 4 %}
    <h6 style="text-align: center; color: red;" id="message">ERROR: Profile Status once verified can't be deleted</h6>
    {% endifequal %}

    {% if success %}
    <h6 style="text-align: center; color: green;" id="message">{{success}}</h6>
    {% endif %}

    {% if new_error %}
    <h6 style="text-align: center; color: red;" id="message">{{new_error}}</h6>
    {% endif %}


    <div class="recent-grid1">
        <div class="projects">
            <div class="card">
                <div class="card-body">
                  <div style="margin-bottom: 30px">
                    {% if permissions.remove_companies %}
                      <button type="button" class="matching_button" style="float: right; margin-right: 20px" data-toggle="modal" data-target="#remove_companies">Remove Companies</button>
                    {% endif %}
                  </div><br>
                    <div class="table-responsive container">
                        <table id="myTable" class="display nowrap" style="width: 100%">
                            <thead id="thead">
                                <tr id="tr1" style="text-align: center;">
                                    <td>Company ID</td>
                                    <td id="td1">Email</td>
                                    <td id="td2">Username</td>
                                    <td id="td3">Company Name</td>
                                    <td>Verify</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for each in data %}
                                <tr style="text-align: center;">
                                    <td>{{each.id}}</td>
                                    <td>{{each.user.email}}</td>
                                    <td>{{each.user.username}}</td>
                                    <td>{{each.user.first_name}}</td>
                                    <td style="margin-left: 4%;">
                                        <a href="{% url 'company_account_signup_action' item=each.id type='1' %}" style="text-decoration: none;">
                                            <span class="fas fa-check" style="color: green; font-size: 1.2rem; "></span>
                                        </a>
                                        <a href="{% url 'company_account_signup_action' item=each.id type='2' %}" style="text-decoration: none; padding-left: 20%;">
                                            <span class="fas fa-times" style="color: red; font-size: 1.2rem;"></span>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>
                </div>
            </div>
        </div>
        {% endif %}
</main>

<!-- Modal -->
<div class="modal fade" id="remove_companies" tabindex="-1" role="dialog" aria-labelledby="uploaderLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="remove_companiesLabel">Remove Companies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please read these instructions before removing companies to avoid any type of confusion:</p>
        <p style="margin-left: 10px">1. Only CSV and EXCEL files are allowed. <a href="{% static 'sample/remove_companies.zip' %}">Sample Excel File</a></p>
        <p style="margin-left: 10px">2. There could be multiple columns, there order does not matter, for example - consider columns A and B, A can be given in the column after or before B but inside A column, only A's entries should be there.</p>
        <p style="margin-left: 10px">3. If any duplicate entry is found, then first copy will be taken and rest will be dropped.</p>
        <p style="margin-left: 10px">4. Compulsory Columns are : Email or Username (Any One is sufficient. If both are given then email will be taken). Column Names should be in title case.</p>
        <p style="margin-left: 10px">5. If account is validated and its not a company account then that row would simply be dropped.</p>
      </div>
      <div class="modal-body">
        <form action="{% url 'remove_companies' %}" method="POST" enctype="multipart/form-data" onsubmit="call_preloader2()">
          {% csrf_token %}
          <input type="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="input-field" required>
          <button type="submit" class="btn btn-primary">Remove Companies</button>
          <p id="para2" style="display: none; color: green">Removing... Please Wait for a while.</p>
        </form>
        {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
      </div>
    </div>
  </div>
</div>

<script src="{% static 'dashboard/js/timer.js' %}"></script>
<script src="{% static 'js/student_accounts.js' %}"></script>
{% endblock %}