{% extends 'dashboard/base.html' %} {% load static %}

<!--Write the title of the page-->
{% block title %}
<title>Dashboard {{request.user.email}}</title>
<link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'dashboard/css/profile_css.css' %}">
<!-- -->
{% endblock %}



{% block sidebar_menu %}
<div class="sidebar-menu">
    <ul>
        <li>
            <a href="{% url 'dashboard' %}" class=""><span class="las la-igloo"></span>
            <span>Dashboard</span>
          </a>
        </li>
        <hr>
        <li>
            <a href="{% url 'profile' %}" class=""><span class="las la-id-card"></span>
            <span>Profile</span>
          </a>
        </li>

        {% if request.user.is_staff %}
          {% if permissions.can_manage_sessions %}
          <li>
              <a href="{% url 'manage_sessions' %}" class=""><span class="las la-history"></span>
              <span>Manage Sessions </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.create_new_accounts %}
          <li>
              <a href="{% url 'create_accounts' %}" class=""><span class="las la-user-plus"></span>
              <span>Create Accounts </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_manage_internships %}
          <li>
              <a href="{% url 'manage_company_internships' %}" class=""><span class="las la-users"></span>
              <span>Manage Internships </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_access_student_inactive_accounts %}
          <li>
              <a href="{% url 'student_account_signup_permit' %}"><span class="las la-graduation-cap"></span>
              <span>Student Accounts</span>
            </a>
          </li>
          {% endif %} {% if permissions.can_access_company_inactive_accounts %}
          <li>
              <a href="{% url 'company_account_signup_permit' %}"><span class="las la-user-graduate"></span>
              <span>Company Accounts</span>
            </a>
          </li>
          {% endif %} {% if permissions.can_ban_users %}
          <li>
              <a href="{% url 'restrict_users' %}"><span class="las la-user-slash"></span>
              <span>Restrict Users </span>
            </a>
          </li>
          {% endif %}
          {% if permissions.can_unban_users and request.user.is_superuser %}
          <li>
              <a href="{% url 'unban_user' item='0' %}" class=""><span class="las la-user"></span>
              <span>Un-restrict Users </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_manage_blogs %}
          <li>
              <a href="{% url 'manage_blogs' %}" class=""><span class="las la-blog"></span>
              <span>Manage Blogs </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_manage_staff_accounts and request.user.is_superuser %}
          <li>
              <a href="{% url 'manage_staff_accounts' %}" class=""><span class="las la-user-circle"></span>
              <span>Manage Staff Accounts </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_give_notifications %}
          <li>
              <a href="{% url 'give_notifications' %}" class=""><span class="las la-bell"></span>
              <span>Float Notification </span>
            </a>
          </li>
          {% endif %} 
          {% if permissions.can_manage_technical_support %}
          <li>
              <a href="{% url 'technical_support_assist' %}" class=""><span class="lar la-comment-alt"></span>
              <span>Manage Support </span>
            </a>
          </li>
          {% endif %} 
        {% endif %}
        
        {% if request.user.is_superuser or request.user.is_staff %} {% else %} {% ifequal request.user.last_name 'This_is_a_company_Associated_account' %}
          <li>
              <a href="{% url 'announcements' %}" class="active"><span class="las la-bullhorn"></span>
              <span>My Announcements</span>
            </a>
          </li>
          <li>
              <a href="{% url 'new_announcement_round' %}"><span class="las la-plus-circle"></span>
              <span>Announce New Round</span>
            </a>
          </li>
          <li>
              <a href="{% url 'new_announcement' %}"><span class="las la-plus"></span>
              <span>New Announcement</span>
            </a>
          </li>
          <li>
              <a href="{% url 'announce_internship' %}"><span class="las la-plus-square"></span>
              <span>Announce Internship</span>
            </a>
          </li>
          <li>
              <a href="{% url 'internships' %}"><span class="las la-user-md"></span>
              <span>My Internships</span>
            </a>
          </li>
        <!--Student only-->
        {% else %}
          <li>
              <a href="{% url 'show_companies' %}"><span class="las la-registered"></span>
              <span>Register</span>
            </a>
          </li>
          <li>
              <a href="{% url 'show_registrations' %}"><span class="las la-graduation-cap"></span>
              <span>My Registrations</span>
            </a>
          </li>
        {% endifequal %} {% endif %}


    </ul>
</div>
{% endblock %}

<!--For the text at the top of panel 2-->
{% block dashboard_title %} <a href="{% url 'announcements' %}" style="text-decoration: none; color: black;">Announcement</a> #{{data.id}}{% endblock %}

<!--For the user details displayed at the top right-->


<!--For the main section : 3-->{% block section_main %}
<main id="main1">
    {% if request.user.is_authenticated %} {% ifequal request.user.last_name 'This_is_a_company_Associated_account' %}
    <!--COPY OF PHONE VERIFICATION FORM-->
    <div class="cards_form_comp1" id="cr11">
        <h5 style="text-align: center; padding-bottom: 30px">Edit Announcement</h5>
        <h6 id="time_error1" style="text-align: center; padding-bottom: 5px; color: red">{{error}}</h6>
        <h6 id="time_error2" style="text-align: center; padding-bottom: 5px; color: green">{{success}}</h6>
        <table class="comp_table1">
            <!--GO FOR COMPANY PHASE 2-->
            <!-- only for company, it includes editing basic profile details -->
            <!-- form C2 -->
            <tr>
                <td>
                    <form action="{% url 'edit_announcement' item=data.id %}" method="POST" onsubmit="return validate_announcement()" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="comp_table1">
                            {% if data.general_announcement %}
                            <input type="hidden" name="internship_round" value="{{data.internship_round}}" required>
                            <input type="hidden" name="round_name" value="{{data.round_name}}" required>
                            <input type="hidden" value="{{data.prev_round_for_result}}" name="prev_round_for_result" required>
                            <input type="hidden" name="last_date_to_apply" required> {% else %}
                            <tr>
                                <td>
                                    <label>Internship Name </label>
                                </td>
                                <td>
                                    <input type="text" name="internship_name" value="{{data.internship.internship_name}}" id="inputBox" class="input-field" placeholder="Enter round name" style="background-color: aqua;" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Internship Round </label>
                                </td>
                                <td>
                                    <input type="text" name="internship_round" value="{{data.internship_round}}" id="inputBox" class="input-field" style="background-color: aqua;" placeholder="Enter round number" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="round_name">Name of the Round: </label>
                                </td>
                                <td>
                                    <input type="text" name="round_name" value="{{data.round_name}}" class="input-field" placeholder="Enter round name" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="prev_round_for_result">Previous Round: </label>
                                </td>
                                <td>
                                    <input type="text" value="{{data.prev_round_for_result}}" class="input-field" name="prev_round_for_result" style="background-color: aqua;" placeholder="Enter round number" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="prev_round_for_result">Last Round: </label>
                                </td>
                                <td>
                                    <input type="text" value="{{data.last_round}}" class="input-field" name="last_round" style="background-color: aqua;" placeholder="Enter round number" readonly>
                                </td>
                            </tr>
                            {% if data.first_round %}
                            <tr>
                                <td>
                                    <label for="last_date_to_apply">Last Date to apply ({{data.last_date_to_apply}}): </label>
                                </td>
                                <td>
                                    <input type="datetime-local" id="last_date_to_apply" class="input-field" name="last_date_to_apply" placeholder="Enter last date to fill form" required>
                                </td>
                            </tr>
                            {% endif %}
                            {% endif %}
                            <tr>
                                <td>
                                    <label for="file" style="margin-top: 10px">Upload any {% if data.file %}<a href="{{data.file.url}}" class="btn-save">file</a>{% else %}file{% endif %}: </label>
                                </td>
                                <td>
                                    <input type="file" style="margin-top: 15px" class="btn-save cv_upload" name="file">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="file_for_prev_result">Upload {% if data.file_for_prev_result %}<a href="{{data.file_for_prev_result.url}}" class="btn-save">result</a>{% else %}result{% endif %} of previous round: </label>
                                </td>
                                <td>
                                    <input type="file" style="margin-top: 15px" class="btn-save cv_upload" name="file_for_prev_result">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="message">Announcement Message: </label>
                                </td>
                                <td>
                                    <textarea class="input-field" name="message" rows="3" placeholder="Enter message" required>{{data.message}}</textarea>
                                    <!-- <input type="text" class="input-field" name="message" placeholder="Enter message" required> -->
                                </td>
                            </tr>

                        </table>
                        <input class="profile_save_changes_btn4" type="submit" value="Save Changes">
                    </form>
                </td>
            </tr>
            <tfoot>
                <tr>
                    <td><span style="color: red;">**</span>File Uploads are optional</td>
                </tr>
                <tr>
                    <td><span style="color: red;">**</span>For round 1, fill previous round as 0</td>
                </tr>
                {% if data.general_announcement %} {% else %}
                <tr>
                    <td>
                        <marquee direction="left" height="40" width="200" bgcolor="white"></marquee><a href="{% url 'stu_result' item=data.id %}">Announce Result??</a></td>
                </tr>
                {% endif %}
            </tfoot>
        </table>
        <br>
        <a href="{% url 'delete_announcement' item=data.id %}" style="color: red; float: right">Delete Announcement?</a>
        <br>
    </div>{% endifequal %} {% endif %}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="{% static 'js/profile.js' %} "></script>
<script src="{% static 'dashboard/js/profile_app.js' %} "></script>
{% endblock %}