{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/profile_page_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_modal.css' %}" />
    <title>PROFILE {{request.user.email}}</title>
</head>

<body oncontextmenu="return false;">
    {% if request.user.is_staff or request.user.is_superuser %} 
    <div class="main-content">
        <!-- Top navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- Brand -->
                <p style="color: white;">&nbsp;&nbsp; {% if request.user.is_superuser %}Admin {% else %}Staff {% endif %} profile
                    <p>
                        <!-- Form -->
                        <!-- <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                            <div class="form-group mb-0">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Search" type="text">
                                </div>
                            </div>
                        </form> -->
                        <!-- User -->
                        <ul class="navbar-nav align-items-center d-none d-md-flex">
                            <li class="nav-item dropdown">
                                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="media align-items-center">
                                        <span class="avatar avatar-sm rounded-circle">
                                            <img src="{% static 'dashboard/img/us_ma.png' %}"  style="border-radius: 50%; height: 35px"  alt=""> 
                                        </span>
                                        <div class="media-body ml-2 d-none d-lg-block">
                                            <span class="mb-0 text-sm  font-weight-bold">{{request.user.first_name}} {{request.user.last_name}}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
            </div>
        </nav>
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">{{request.user.first_name}} Profile Page</h1>
                        <p class="text-white mt-0 mb-5">Hello Staff, here you can see the permissions given to you by the account creator. Moreover, in some months you can also request for your seniors to give you more access.</p>
                        <a onclick="window.history.back();" style="color: white" class="btn btn-primary">Go Back</a> 
                        <a style="color: white" class="btn btn-danger" id="delete_account"> Delete Account</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="#">
                                {% if request.image %}
                                <img src="{{request.image.url}}" style="border-radius: 50%; height: 160px; width: 160px" alt=""> {% else %}
                                <img src="{% static 'dashboard/img/us_ma.png' %}"  style="border-radius: 50%; height: 160px; width: 160px"  alt=""> {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Account Details</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                                </div>
                            </div>
                        </div> -->
                <div class="card-body" style="padding-top: 100px;">
                    <form>
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-username">Username</label>
                                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value={{request.user}} readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email address</label>
                                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="Email" readonly value={{request.user.email}}>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-first-name">First name</label>
                                        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="{{request.user.first_name}}" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-last-name">Last name</label>
                                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="{{request.user.last_name}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form>
                    <hr class="my-4">
                    <!-- Address -->
                    <h6 class="heading-small text mb-4">My Permissions</h6>
                        <div class="pl-lg-4">
                            
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.can_access_student_inactive_accounts %} style="background-color: rgb(64, 201, 64); color: white" value="Can Manage Student Registrations" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Manage Student Registrations" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.can_access_company_inactive_accounts %} style="background-color: rgb(64, 201, 64); color: white" value="Can Manage Company Registrations" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Manage Company Registrations" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.can_ban_users %} style="background-color: rgb(64, 201, 64); color: white" value="Can restrict Users" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't restrict Users" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.can_manage_blogs %} style="background-color: rgb(64, 201, 64); color: white" value="Can Manage Blogs" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Manage Blogs" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.can_manage_technical_support %} style="background-color: rgb(64, 201, 64); color: white" value="Can Manage Technical Support" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Manage Technical Support" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.can_manage_sessions %} style="background-color: rgb(64, 201, 64); color: white" value="Can Manage Sessions" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Manage Sessions" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.can_give_notifications %} style="background-color: rgb(64, 201, 64); color: white" value="Can Manage Notifications Section" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Manage Notification Section" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.can_unban_users %} style="background-color: rgb(64, 201, 64); color: white" value="Can Un-Restrct Users" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Un-Restrct Users" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.can_manage_staff_accounts %} style="background-color: rgb(64, 201, 64); color: white" value="Can Manage Staff Accounts" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Manage Staff Accounts" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.create_new_accounts %} style="background-color: rgb(64, 201, 64); color: white" value="Can Create New Accounts" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Create New Accounts" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.manage_CGPA %} style="background-color: rgb(64, 201, 64); color: white" value="Can Manage CGPA" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Manage CGPA" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.remove_students %} style="background-color: rgb(64, 201, 64); color: white" value="Can Remove Students" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Remove Students" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.remove_companies %} style="background-color: rgb(64, 201, 64); color: white" value="Can Remove Companies" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Remove Companies" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <input type="text" {% if permissions.can_manage_internships %} style="background-color: rgb(64, 201, 64); color: white" value="Can Manage Internships" {% else %} style="background-color: rgb(212, 79, 79); color: white" value="Can't Manage Internships" {% endif %} class="form-control form-control-alternative" readonly>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-8 m-auto text-center">
                <div class="copyright">
                    <p>User ID: {{request.user.id}}</p>
                </div>
            </div>
        </div>
    </footer>
    {% endif %} 
    

    {% ifequal request.user request.user %}
    <!-- The Delete account Modal -->
    <p style="display: none" id="usersname">{{request.user}}</p>
    <div id="deleteModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p class="mypara">This is the final Warning after which you will not be able to recover the account. All the progress would be lost.If you are sure to delete your account permanently, then write your username in the text box</p>
            <input type="text" id="myusername" style="width: 80%;" onkeyup="text_changed(this.value)">
            <div id="buttn">
                <a class="btn" id="deel" style="text-decoration: none; background-color: #FFECEC; color: white" href="{% url 'delete_account' %}">Delete Account</a>
                <button type="button" class="btn btn-primary" onclick="close_modal()">cancel</button>
            </div>
        </div>
    </div>
    {% endifequal %} 
    
    <script type="text/javascript" src="{% static 'js/disable_all_inspections.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/profile_modal.js' %}"></script>
</body>

</html>